html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

button {
    color: rgb(0, 42, 94);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(235, 242, 253);
    border: 1.5px solid #7591ba;
}